.move-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  text-align: center;
  font-size: small;
}
.header-line {
  font-weight: 700;
  background-color: #f3f3f3;
}
.tags-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px 0 0;
  width: 40%;
}
.scroller {
  width: 300px;
  height: 40vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  border: 1px solid black;
}
.move-name {
  text-align: center;
}
