.navigation {
  background-color: white;
  width: 100vw;
  & > ul {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-around;
    align-items: stretch;

    & a {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &:active,
      &:hover,
      &:visited,
      &:focus,
      &:link {
        text-decoration: none;
      }
    }
  }
}
a.nav-active {
  box-shadow: inset 300px 300px rgba(100, 100, 100, 0.25);
  color: #ddd;
}

#title-menu {
  padding: 10px;
  color: #777;
}
