.navigation {
  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 400px;

    & a {
      position: relative;
      &:active,
      &:hover,
      &:visited,
      &:focus,
      &:link {
        text-decoration: none;
      }
    }
  }
}
a.nav-active {
  box-shadow: inset 30px 30px rgba(100, 100, 100, 0.3);
}

#title-menu {
  color: #777;
}
